body {
  padding: 5px;
  margin: 0;
  background-color: rgba(154, 213, 255, 0.504);
}

header {
  padding: 10px;
}

footer {
  width: 400px;
  margin: auto;
  margin-top: 165px;
  text-align: center;
  padding: 5px;
  color: chocolate;
  border-bottom: 5px double rgb(138, 200, 255);
  font-family: Tahoma, sans-serf;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: rgba(154, 213, 255, 0.504);
}

nav {
  width: 100%;
  text-align: center;
}

td {
  padding: 6px;
}

th h2 {
  color: rgb(15, 118, 221);
}

tr th {
  color: rgba(22, 103, 183, 0.951);
}

main {
  max-width: 400px;
  height: 300px;
  margin: auto;
  text-align: center;
  font-family: Tahoma, sans-serf;
}

main img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  padding: 5px; /* padding + bgcolor = border */
  background-color: rgba(111, 155, 186, 0.63);
}

main p {
  padding: 5px;
  background-color: rgba(190, 190, 190, 0.3);
}

.werkopl {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  font-family: Tahoma, sans-serf;
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(190, 190, 190, 0.3);
}

.contact {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  font-family: Tahoma, sans-serf;
  text-align: end;
}

fieldset {
  border: none;
  background-color: rgba(190, 190, 190, 0.3);
}

fieldset legend {
  font-size: 20px;
  color: rgb(15, 118, 221);
}

button {
  height: 50px;
  margin: auto;
  border: 0;
  border-bottom: 5px double rgb(138, 200, 255);
  transition-duration: 0.8s;
}

button:hover {
  background-color: rgba(111, 155, 186, 0.63);
}

button:active {
  box-shadow: inset 3px 3px 5px rgb(61, 61, 255);
}

a {
  font-size: 22px;
}

a:link {
  color: rgb(0, 139, 139);
}

a:visited {
  color: gray;
}

a:hover {
  color: chocolate;
}

a:active {
  color: white;
  border-radius: 4px;
}

.thborder {
  border-bottom: 1px solid black;
}
